# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.nav
*.snm
*.vrb
*.thm
*.xdy
*.run.xml
*.bcf
*.ist
*.glg
*.gls
*.glo
*.glsdefs
*.xdv
*.bak
