Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -bugprone-easily-swappable-parameters,
  -bugprone-throwing-static-initialization,
  -clang-diagnostic-c2y-extensions,
  -clang-diagnostic-unnecessary-virtual-specifier

WarningsAsErrors: "*"
HeaderFilterRegex: ".*/(bins|libs)/.*"
ExtraArgs: ['-U_OPENMP']

CheckOptions:
  - key: modernize-use-default-member-init.UseAssignment
    value: true
  - key: readability-braces-around-statements.ShortStatementLines
    value: "0"
  - key: bugprone-narrowing-conversions.WarnOnEquivalentBitWidth
    value: true
